body {
	background-image: url("image/supplies.jpg");
	background-size: 100%;
	background: static;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#navigation-bar {
	text-align: center;
	float: bottom;
}
#introduction {
	text-align: center;
}
#content {
	height: 1000px;}
.section.white {
	background-color: white;
}
.section.grey {
	background-color: #DDD;
}
.section {
	height: 500px;
	width: 300px;
	text-align: center;
	overflow: auto;
	border-radius: 10px;
	clear: left;
	margin: 10px;
}
/*			.section-grey {
	height: 500px;
	width: 200px;
	float: left;
	text-align: center;
	overflow: auto;
	background-color: #DDD;	
	border-radius: 10px;
	clear: left;
	padding: 10px;
}*/