h1 {
	background:white;
	position:fixed;
	top:0px;
}
#description {
	overflow:auto;
	background:#DDD;
	height:600px;
	margin:10px 0px;
	text-align:center;
}
#phoenix {
	width:auto;
	height:550px;
	margin:10px;
	float:right;
}
.scroll {
	width:auto;
	margin-top:120px;
	height:625px;
	overflow:auto;}