.scroll {
	width:auto;
	margin-top:120px;
}
.grey {
	background-color: #DDD;
}
.white {
	background-color: white;
}
.textbox {
	width: 31%;
	margin: 5px;
	height: 300px;
	display: inline-block;
	border-radius: 5px;}
.left {
	float: left;
}
.mid {
	
}
.right {

}
.textbox:hover {
	background-color:#F0FFFF;
	box-shadow:5px 5px 5px grey;
}
.image {
	height:300px;
	margin-left:25%;}
#lightbox {
    position:fixed;
    top:0; 
    left:0; 
    width:0%; 
    height:100%; 
    background:url(overlay.png) repeat; 
    text-align:center;}
#lightbox p#nature-description {
    color:#F0FFFF; 
    margin:auto;
    font-size:50px;
   	font-family: 'angelina';}
#lightbox p#pinball-description {
    color:#F0FFFF;
    margin:auto;
    font-size:50px;
   	font-family: 'angelina';} 
#lightbox img {
    max-height:600px;
    max-width:940px;
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;}
.lightbox_trigger {
	height:100%;
	width:100%;
	display:inline-block;
	border-radius:5px;
	background-color: transparent;}
.lightbox_trigger:hover {
	background-color:#F0FFFF;
	border-radius:5px;}
#instructions {
	text-align:center;
	margin-top:20px;}
