.carouselbox1 {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 200px;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
  margin:0 auto;
  background:#DDD;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.active_img {
  height: 230px;
}
.active_img li {
  position: absolute;
  top: 200px;
}
.active_img li.current {
  top: 30px;
}
.active_img .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox1 button {
  border: none;
  display: none;
}
.active_img button {
  display: block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}
.incompleteimages {
	height:100px;
	width:auto;
}