body {
	background-image: url("image/supplies.jpg");
	background-size: 100%;
	background: static;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#content {
	height: 1000px;}
.section.white {
	background-color: white;
}
.section.grey {
	background-color: #DDD;
}
.section {
	height: 500px;
	width: 50%;
	text-align: center;
	overflow: auto;
	border-radius: 10px;
	clear: left;
	margin: 10px;
}
.images {
	height:200px;
}