#title {
	width:100%;
	border:5px black;
	position:fixed;
	background:white;
	top:0;}
#homepage {
	float:right;
	margin:10px;
	width:auto;
	height:600px;}
ul {
	list-style-type:none;
	margin:10px;
	padding:0;
	background-color:grey;
	position:fixed;
	left:0;
	right:0;
	top:60px;}
li {
	float:left;
	display:inline;}
a {
	display:block;
	color:white;
	padding:14px 16px;
	text-align:center;
	background-color:grey;}
li a:hover {
	background-color: black;}
#introduction {
	margin:2px;
	width:auto;
	height:700px;
	background:#dddddd;}
#desc {
	clear:left;	
	float:left;
	top:500px;
	padding:10px;
}

