#description {
	width:auto;
	height:600px;
	background:#DDD;
	padding:110px 0px 0px 0px;}
#Flowers {
	width:auto;
	height:550px;
	margin:10px;}
#title {
	width:100%;
	border:5px black;
	position:fixed;
	background:white;
	top:0;}
#incomplete {
	width:200px;
	height:auto;
	margin:10px;}
#button {
	margin: 10px;}
#description2 {
	width:1400px;
	height:600px;
	background:white;}
#Pinball {
	width:auto;
	height:550px;
	margin:10px;
	background:white;}
#incomplete2 {
	width:200px;
	height:auto;
	margin:10px;}
.scroll {
	width:auto;
	height:700px;
	overflow:auto;}
#description3 {
	width:1400px;
	height:600px;
	background:#DDD;}
#childhood {
	width:auto;
	height:550px;
	margin:10px;}
#incomplete3 {
	width:200px;
	height:auto;
	background:#DDD}
ul {
	list-style-type:none;
	margin:10px;
	padding:0;
	background-color:grey;
	position:fixed;
	left:0;
	right:0;
	top:60px;}
li {
	float:left;
	display:inline;}
a {
	display:block;
	color:white;
	padding:14px 16px;
	text-align:center;
	background-color:grey;}
li a:hover {
	background-color: black;}