h1 {
	background:white;
}
#description {
	overflow:auto;
	background:#DDD;
	height:600px;
	margin:10px 0px;
	text-align:center;}
#flowers {
	width:auto;
	height:550px;
	margin:10px;
	float:right;}
#incomplete {
	width:200px;
	display:block;
	height:auto;
	margin:auto;}
#button {
	margin: 10px;}
#description2 {
	overflow:auto;
	height:600px;
	text-align:center;
	margin:10px 0px;
	background:#F5FFFA;}
#Pinball {
	width:auto;
	height:550px;
	float:right;
	margin:10px;}
#incomplete2 {
	width:200px;
	height:auto;
	display:block;
	margin:auto;}
.scroll {
	width:auto;
	margin-top:75px;
	height:625px;
	overflow:auto;}
#description3 {
	overflow:auto;
	height:600px;
	margin:10px 0px;
	text-align:center;
	background:#DDD;}
#childhood {
	width:auto;
	float:right;
	height:550px;
	margin:10px;}
ul {
	list-style-type:none;
	margin:10px;
	height:50;
	padding:0;
	background-color:grey;
	position:fixed;
	left:0;
	right:0;
	top:60px;}
li {
	float:left;
	display:inline;}
a {
	display:block;
	color:#F5FFFA;
	padding:14px 16px;
	text-align:center;
	background-color:grey;}
li a:hover {
	background-color: black;}
.dropbutton {
	padding:0px 0px 0px 0px;
	font-size:16px;
	border:none;
	color:#dddddd;
	background-color:grey;
	cursor:pointer;}
.dropdown {
	position:relative;
	display:inline-block;}
.dropdown-content {
	display:none;
	position:absolute;
	min-width:160px;
	box-shadow:0px 2px 6px 0px;}
.dropdown-content:hover a:hover {background-color:dimgrey;}
.dropbutton:hover a:hover {background-color:dimgrey;}
.dropdown:hover .dropdown-content {
	display:block;}
.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 200px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}
.active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}
.incompleteimages {
	height:100px;
	width:auto;
}