.dropbutton {
	padding:0px 0px 0px 0px;
	font-size:16px;
	border:none;
	color:#dddddd;
	background-color:grey;
	cursor:pointer;}
.dropdown {
	position:relative;
	display:inline-block;}
.dropdown-content {
	display:none;
	position:absolute;
	min-width:160px;
	box-shadow:0px 2px 6px 0px;}
.dropdown-content:hover a:hover {background-color:dimgrey;}
.dropbutton:hover a:hover {background-color:dimgrey;}
.dropdown:hover .dropdown-content {
	display:block;}
.activepg {background-color:black;
	height:22px;}
.header {
	list-style-type:none;
	margin:10px;
	padding:0;
	background-color:grey;
	position:fixed;
	left:0;
	right:0;
	top:60px;}
li {
	float:left;
	display:inline;}
a {
	display:block;
	color:white;
	padding:14px 16px;
	text-align:center;
	background-color:grey;}
li a:hover {
	background-color: black;}
ul {
	list-style-type:none;
	margin:10px;
	height:50;
	padding:0;
	background-color:grey;
	position:fixed;
	left:0;
	right:0;
	top:60px;}